.dog img{
  width: 55%;
  border-radius: 50%;
  filter: grayscale();

}
.dog:hover img{
  filter: none;
transform: scale(1.09);
}

.dog-details-link{
font-size: 21px;
color:#2e279d;
letter-spacing: .2rem;
}
.dog-details-link:hover{
  text-decoration: none;
  }
